<p>
  Welcome, {{user}} 
  &nbsp;
  <a href="/leaderboard">Leaderboard</a>
  &nbsp;
  <a href="../lessons">Lessons</a>
  &nbsp;
  <a href="../logout">Logout</a>
</p>

<h1>{{lesson.name}}</h1>
<h2>{{lesson.description}}</h2>

